<% content_for :title, "Editing festival" %>

<h1>Editing festival</h1>

<%= render "form", festival: @festival %>

<br>

<div>
  <%= link_to "Show this festival", [:admin, @festival] %> |
  <%= link_to "Back to festivals", admin_festivals_path %>
</div>
