<p><%= @resource.email %> さん、こんにちは！</p>

<p>パスワードのリセットがリクエストされました。以下のリンクからパスワードの再設定を行えます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに心当たりがない場合は、このメールを無視してください。</p>
<p>新しいパスワードが設定されるまで、現在のパスワードは変更されません。</p>
