<div id='map'
     class="w-full h-[80vh] min-h-[400px] rounded-lg shadow-lg"
     data-controller="map"
     data-map-api-key-value="<%= ENV['GOOGLE_MAPS_API_KEY'] %>"
     data-map-enable-polling-value="<%= @enable_polling %>"
     data-map-user-signed-in-value="<%= user_signed_in? %>">
</div>
